{% extends 'template.html' %}

{% block title %} My Account {% endblock %}

{% block mainBody %}
    <div class="myAccount">
        <h1>
            My Account
        </h1>

        <p>
            <table>
                <tr>
                    <th>iss</th>
                    <th>sub</th>
                    <th>hd</th>
                    <th>email</th>
                    <th>email_verified</th>
                    <th>name</th>
                    <th>given_name</th>
                    <th>family_name</th>
                </tr>
                <tr>
                    {% for item in data %}
                        <td> {{ item }} </td>
                    {% endfor %}
                </tr>
            </table>
        </p>
    </div>
{% endblock %}