{% extends 'template.html' %}

{% block title %} Contact {% endblock %}

{% block mainBody %}
    <div class="storeBox">
        <div id="1" class="menuItem">
            <a class="storePage" onclick="chooseModal('1')">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Chicken Rice
                            </span>
                            <div class="menuItemStoreNumber">
                                Store 1
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div id="5" class="menuItem">
            <a class="storePage" onclick="chooseModal('5')">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Japanese Food
                            </span>
                            <div class="menuItemStoreNumber">
                                Store 5
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div id="9" class="menuItem">
            <a class="storePage" onclick="chooseModal('9')">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Korean Food
                            </span>
                            <div class="menuItemStoreNumber">
                                Store 9
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div id='10' class="menuItem">
            <a class="storePage" onclick="chooseModal('10')">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Vegetarian Food
                            </span>
                            <div class="menuItemStoreNumber">
                                Store 10
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div id='11' class="menuItem">
            <a class="storePage" onclick="chooseModal('11')">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Thai Food
                            </span>
                            <div class="menuItemStoreNumber">
                                Store 11
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div id='12' class="menuItem">
            <a class="storePage" onclick="chooseModal('12')">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Western Food
                            </span>
                            <div class="menuItemStoreNumber">
                                Store 12
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div id='13' class="menuItem">
            <a class="storePage" onclick="chooseModal('13')">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Ahma Mixed Chinese Rice
                            </span>
                            <div class="menuItemStoreNumber">
                                Store 13
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div id='15' class="menuItem">
            <a class="storePage" onclick="chooseModal('15')">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Malay Food
                            </span>
                            <div class="menuItemStoreNumber">
                                Store 15
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div id='0' class="menuItem">
            <a class="storePage" onclick="chooseModal('0')">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Cafe
                            </span>
                            <div class="menuItemStoreNumber">
                                
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>

        <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addJS %} 
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endblock %}
