{% extends 'template.html' %}

{% block title %} Contact {% endblock %}

{% block mainBody %}
    <div class="menuRow">
        <div id="1" class="menuItem">
            <a class="storePage" href="../login/">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Chicken Rice
                            </span>
                            <div class="menuItemStoreNumber">
                                Store 1
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div id="2" class="menuItem">
            <a class="storePage" href="../login/">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Japanese Food
                            </span>
                            <div class="menuItemStoreNumber">
                                Store 5
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="menuItem">
            <a class="storePage" href="../login/">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Korean Food
                            </span>
                            <div class="menuItemStoreNumber">
                                Store 9
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="menuItem">
            <a class="storePage" href="../login/">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Vegetarian Food
                            </span>
                            <div class="menuItemStoreNumber">
                                Store ???
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="menuRow">
        <div class="menuItem">
            <a class="storePage" href="../login/">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Thai Food
                            </span>
                            <div class="menuItemStoreNumber">
                                Store ???
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="menuItem">
            <a class="storePage" href="../login/">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Western Food
                            </span>
                            <div class="menuItemStoreNumber">
                                Store 12
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="menuItem">
            <a class="storePage" href="../login/">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Ahma Mixed Chinese Rice
                            </span>
                            <div class="menuItemStoreNumber">
                                Store 13
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="menuItem">
            <a class="storePage" href="../login/">
                <figure>
                    <img class="menuImg" src="{{ url_for('static', filename="img/Hainanese_Chicken_Rice.jpg") }}">
                    <figcaption>
                        <span class="menuItemStoreTitle">
                            <span class="menuItemStoreName">
                                Malay Food
                            </span>
                            <div class="menuItemStoreNumber">
                                Store 15
                            </div>
                        </span>
                    </figcaption>
                </figure>
            </a>
        </div>
{% endblock %}
