{% extends 'template.html' %}

{% block title %} Contact {% endblock %}

{% block mainBody %}
    <div class="menuRow">
        <div class="menuItem">
            <h1>Chicken Rice</h1>
            <div class="menuImgContainer">
                <img class="menuImg" src="https://upload.wikimedia.org/wikipedia/commons/7/71/Hainanese_Chicken_Rice.jpg">
            </div>
        </div>
        <div class="menuItem">
            <h1>Chicken Rice</h1>
            <div class="menuImgContainer">
                <img class="menuImg" src="https://upload.wikimedia.org/wikipedia/commons/7/71/Hainanese_Chicken_Rice.jpg">
            </div>
        </div>
        <div class="menuItem">
            <h1>Chicken Rice</h1>
            <div class="menuImgContainer">
                <img class="menuImg" src="https://upload.wikimedia.org/wikipedia/commons/7/71/Hainanese_Chicken_Rice.jpg">
            </div>
        </div>    
    </div>
    <div class="menuRow">
        <div class="menuItem">
            <h1>Filler</h1>
        </div>
        <div class="menuItem">
            <h1>Filler</h1>
        </div>
    </div>
{% endblock %}
