@import "template";

@mixin menuImgContainer {
    @include display-flex();
    @include justify-content-center();
}

@mixin menuItem {
    @include justify-content-center();
    flex-wrap: nowrap !important; 
}

@mixin cursor-pointer {
    cursor: pointer;
}

@mixin menuItemStoreTitle {
    color: black !important;
}

@mixin font-weight-bold {
    font-weight: bold;
}


// For laptops and tablets
@media screen and (min-width: 481px) {
    .menuItem {
        @include menuItem;
        @include cursor-pointer();
    
        padding: 10px;
        width: 17.5vw;
    }
    
    .menuImg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
    
    #menuItemName {
        text-align: center;
    }
    
    .menuImgContainer {
        @include menuImgContainer();
    }
    
    .menuItemStoreTitle {
        @include menuItemStoreTitle();
    }
    
    .menuItemStoreName, .menuItemStoreName {
        @include font-weight-bold();
    }
    
    a {
        text-decoration: none !important;
    }
    
    a:hover {
        text-decoration: none !important;
    }
    
    .storeBox {
        @include flex-container();
    
        width: 70vw;
    }
}

// For mobile devices

@media screen and (max-width: 480px) {
    .menuItem {
        @include menuItem;
        @include cursor-pointer();

        padding: 1vw;
        width: 94vw;
    }
    
    .menuImg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
    
    #menuItemName {
        text-align: center;
    }
    
    .menuImgContainer {
        @include menuImgContainer();
    }
    
    .menuItemStoreTitle {
        @include menuItemStoreTitle();
    }
    
    .menuItemStoreName, .menuItemStoreName {
        @include font-weight-bold();
    }
    
    a {
        text-decoration: none !important;
    }
    
    a:hover {
        text-decoration: none !important;
    }
    
    .storeBox {
        @include flex-container();
    }
}