@import "template";

@mixin menuRow {
    @include flex-container;

    margin: 10px;
    width: 70%;
    flex-wrap: nowrap !important; 
}

@mixin menuImgContainer {
    @include display-flex();
    @include justify-content-center();
}

@mixin menuItem {
    @include justify-content-center();
}

@mixin cursor-pointer {
    cursor: pointer;
}

@mixin menuItemStoreTitle {
    color: black !important;
}

@mixin font-weight-bold {
    font-weight: bold;
}

.menuRow {
    @include menuRow;
}

.menuItem {
    @include menuItem;
    @include cursor-pointer();

    padding: 10px;
}

.menuImg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#menuItemName {
    text-align: center;
}

.menuImgContainer {
    @include menuImgContainer();
}

.menuItemStoreTitle {
    @include menuItemStoreTitle();
}

.menuItemStoreName, .menuItemStoreName {
    @include font-weight-bold();
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}