@import "template";

@mixin dish {
    @include justify-content-center();
    flex-wrap: nowrap !important; 
}

@mixin cursor-pointer {
    cursor: pointer;
}

@mixin dishItem {
    color: black !important;
}

@mixin font-weight-bold {
    font-weight: bold;
}


// For laptops and tablets
@media screen and (min-width: 481px) {
    .dish {
        @include dish();
        @include cursor-pointer();
    
        padding: 10px;
        width: 17.5vw;
    }
    
    .dishImg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
    
    #menuItemName {
        text-align: center;
    }
    
    .dishItem {
        @include dishItem();
    }
    
    .dishItemName {
        @include font-weight-bold();
    }
    
    a {
        text-decoration: none !important;
    }
    
    a:hover {
        text-decoration: none !important;
    }
    
    .dishBox {
        @include flex-container();
    
        width: 70vw;
    }
}

// For mobile devices

@media screen and (max-width: 480px) {
    .dish {
        @include dish();
        @include cursor-pointer();

        padding: 1vw;
        width: 94vw;
    }
    
    .dishImg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
    
    #menuItemName {
        text-align: center;
    }
    
    .dishItem {
        @include dishItem();
    }
    
    .dishItemName{
        @include font-weight-bold();
    }
    
    a {
        text-decoration: none !important;
    }
    
    a:hover {
        text-decoration: none !important;
    }
    
    .dishBox {
        @include flex-container();
    }
}

#modalImg {
    max-width: 100%;
}

.QtyStatus {
    float: left;
    margin-left: 6%;
    margin-right: 6%;
}

#removeDishButton {
    width: 38px;
}

#addDishButton {
    width: 38px;
}

#dishQuantity {
    align-items: center;
    max-width: 12.5%;
}

// Remove Arrows / Spinners on Input Type Number fields
// https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}