{% extends 'template.html' %}

{% block title %} About Us {% endblock %}

{% block content %}
    <div class="aboutPage">
        <h1>
            About Us
        </h1>

        <p>
            Our project aims to create a food ordering system for our school. This will allow students to preorder food 
            that they plan to eat before they reach the canteen. As such, this allows store owners to better plan and 
            prepare for the number of orders that they may be receiving. Additionally, students will not need to queue 
            up in front of stalls in order to order their meals, thus reducing this inconvenience.
        </p>
    </div>
{% endblock %}