{% extends 'template.html' %}

{% block title %} Login {% endblock %}

{% block mainBody %}
    <div class="loginPage">
        <h1>Login Page</h1>

        <div id="g_id_onload"
            data-client_id="268607576142-fji5gsrr48196i4kd4ce6e20al1nrl44.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-callback="handleCredentialResponse"
            data-nonce=""
            data-state_cookie_domain="/"
            data-auto_select="true">
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="signin"
            data-size="large"
            data-logo_alignment="left">
        </div>

        <!--
        <div class="g_id_signout">
            <button id="signout_button">Sign Out</button>
        </div>
        -->
    </div>

    <script>
        function handleCredentialResponse(response) {
            decodeJwtResponse(response.credential);
            setTimeout(location.reload.bind(location), 1000);
        };
        
        function decodeJwtResponse(input){
            var fd = new FormData();
            fd.append('mydata', input);

            var decodeMe = $.ajax({
                contentType: false,
                processData: false,
                type: "POST",
                url: "/login",
                async: true,
                data: fd,
            });
        };

        /*
        function redirectPage(){
            let origin = window.location.origin;
            let relative = "/login";
            let href = origin.concat(relative);

            if (window.location.href == href) {
                window.location.href = "/menu";
            };
        };
        */
    </script>
{% endblock %}