{% extends 'template.html' %}

{% block title %} Login {% endblock %}

{% block mainBody %}
    <div class="loginPage">
        <h1>Login Page</h1>

        <div id="g_id_onload"
            data-client_id="268607576142-fji5gsrr48196i4kd4ce6e20al1nrl44.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-callback="redirect()"
            data-nonce=""
            data-auto_prompt="false">
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="signin"
            data-size="large"
            data-logo_alignment="left">
        </div>

        <script>
            function redirect() {
                window.location.href = '/menu/'
            }
        </script>

        <script src="https://accounts.google.com/gsi/client" async defer></script>
    </div>
{% endblock %}