{% extends 'template.html' %}

{% block title %} Login {% endblock %}

{% block mainBody %}
    <div class="loginPage">
        <h1>Login Page</h1>

        <div id="g_id_onload"
            data-client_id="268607576142-fji5gsrr48196i4kd4ce6e20al1nrl44.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-callback="handleCredentialResponse"
            data-nonce=""
            data-state_cookie_domain="/"
            data-skip_prompt_cookie="g_state">
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="signin"
            data-size="large"
            data-logo_alignment="left">
        </div>

        <!--
        <div class="g_id_signout">
            <button id="signout_button">Sign Out</button>
        </div>
        -->
    </div>

    <script>
        if (window.addEventListener) { // Mozilla, Netscape, Firefox
            window.addEventListener('load', uponPageLoad(), false);
        } else if (window.attachEvent) { // IE
            window.attachEvent('onload', uponPageLoad());
        }
        
        function uponPageLoad() {
            checkIfLoggedIn();

            if (checkIfLoggedIn() == true) {
                redirectIfLoginPage();
            } else {
                return;
            };
        };

        // Code Below is broken; should be replaced by token system
        function getUserInfo(response) {
            if (response == null) {
                return;
            } else {
                if (checkIfLoggedIn() == true) {
                    redirectIfLoginPage();
                } else {
                    handleCredentialResponse(response);
                };
            };
            //redirectIfLoginPage();
        };

        // Related to cookies

        function checkIfLoggedIn() {
            let g_state_cookie_data = getCookie('g_state');
            if (g_state_cookie_data == '{"i_l":0}') {
                return true;
            } else {
                return false;
            };
        };

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        };

        // End Related to cookies

        function handleCredentialResponse(response) {
            var responsePayload = decodeJwtResponse(response.credential);
            if (checkIfLoggedIn() == true) {
                redirectIfLoginPage();
            } else {
                return;
            };
        };

        function decodeJwtResponse(input){
            var fd = new FormData();
            fd.append('mydata', input);

            var decodeMe = $.ajax({
                contentType: false,
                processData: false,
                type: "POST",
                url: "/login",
                async: true,
                data: fd,
            });
        };

        function redirectIfLoginPage() {
            let origin = window.location.origin;
            let relative = "/login";
            let href = origin.concat(relative);

            /*
            if (window.location.href == href) {
                window.location.href = "/menu";
            };
            */
        };

        /*
        const button = document.getElementById('signout_button');
            button.onclick = () => {
            google.accounts.id.disableAutoSelect();     
        }
        */
    </script>
{% endblock %}