<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {% endblock %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="{{ url_for('static', filename="img/favicon.ico") }}" rel="icon" />

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet" /> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        {% assets "scss_all" %} {% endassets %}


        <!-- Google Related -->
        <meta name="google-signin-client_id" content="268607576142-fji5gsrr48196i4kd4ce6e20al1nrl44.apps.googleusercontent.com">
        <meta name="google-site-verification" content="m9UJk7PDwedT-6NtdTroMl3seI6up0bzGbATqs7HmBQ" />
    </head>

    <body>
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">Virtual Ordering Kiosk</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="/my-account/" class="nav-item nav-link">My Account</a>
                        <a href="/about/" class="nav-item nav-link">About</a>
                        <a href="/contact/" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->
       
        <!-- Main Body Start-->
        <div class="mainBody">
            {% block mainBody %} {% endblock %}
        </div>
        <!-- Main Body End -->

        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" type="style/js"></script>
        
        <!-- Contact Javascript File -->
        <script src="{{ url_for('static', filename="mail/jqBootstrapValidation.min.js") }}" type="style/js"></script>
        <script src="{{ url_for('static', filename="mail/contact.js") }}" type="style/js"></script>

        <!-- Template Javascript -->
        <script src="{{ url_for('static', filename="js/main.js") }}"></script>
    </body>
</html>
