.loginPage {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
}